<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="MacbookAir8" style="width: 1280px; height: 832px; position: relative; background: white">
  <div class="Section" style="width: 1279px; height: 95px; left: 0px; top: 0px; position: absolute; background: rgba(25, 94, 104, 0.97)">
    <div class="LogoLandie" style="width: 79px; height: 38px; left: 96px; top: 29px; position: absolute; justify-content: flex-end; align-items: center; display: inline-flex">
      <div class="Landie" style="color: white; font-size: 26px; font-family: Roboto; font-weight: 900; line-height: 38px; word-wrap: break-word">Observatoire de l’emploi</div>
    </div>
    <div class="Home" style="width: 82px; height: 28px; left: 453px; top: 35px; position: absolute; color: white; font-size: 24px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Acceuil</div>
    <div class="About" style="width: 77px; height: 28px; left: 565px; top: 35px; position: absolute; color: white; font-size: 24px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Emploi</div>
    <div class="Products" style="width: 136px; height: 28px; left: 672px; top: 35px; position: absolute; color: white; font-size: 24px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Compétence</div>
    <div class="Products" style="width: 136px; height: 28px; left: 838px; top: 35px; position: absolute; color: white; font-size: 24px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Recherche<br/></div>
    <div class="Contact" style="width: 54px; height: 28px; left: 985px; top: 35px; position: absolute; color: white; font-size: 24px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">FAQ</div>
    <img class="Unigelog1" style="width: 73px; height: 73px; left: 23px; top: 11px; position: absolute" src="https://via.placeholder.com/73x73" />
    <div class="Line1" style="width: 55px; height: 0px; left: 1069px; top: 21px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #EAE6E6 solid"></div>
    <div class="Products" style="width: 150px; height: 93px; left: 1099px; top: 34px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
      <div class="Products" style="width: 150px; height: 93px; color: white; font-size: 24px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">  Connexion</div>
    </div>
  </div>
  <div class="Rectangle1" style="width: 268px; height: 359px; left: 114px; top: 434px; position: absolute; background: #195E68; border-radius: 21px"></div>
  <div class="BienvenueLObservatoireDeLEmploiUnigeTuCherchesUnEmploiTuNEsPasLeSeulViensRegarderNosDiagrammesDeDonnEsPourVoirToutesLesCompTencesQuIlTeManque" style="width: 1123px; height: 244px; left: 87px; top: 137px; position: absolute; text-align: justify"><span style="color: black; font-size: 45px; font-family: Roboto; font-weight: 700; line-height: 40px; word-wrap: break-word">Bienvenue à l’observatoire de l’emploi UNIGE<br/></span><span style="color: black; font-size: 55px; font-family: Roboto; font-weight: 700; line-height: 40px; word-wrap: break-word"><br/></span><span style="color: black; font-size: 34px; font-family: Roboto; font-weight: 700; line-height: 40px; word-wrap: break-word">Tu cherches un emploi ? Tu n’es pas le seul, viens regarder nos diagrammes de données pour voir toutes les compétences qu’il te manque :)</span></div>
  <div class="LesCompTencesLesPlusDemandEs" style="width: 238px; height: 75px; left: 129px; top: 461px; position: absolute; text-align: center; color: white; font-size: 26px; font-family: Roboto; font-weight: 800; line-height: 28px; word-wrap: break-word">Les compétences les plus demandées</div>
  <div class="ExcelAnglaisC1Python" style="width: 227px; height: 166px; left: 134px; top: 551px; position: absolute; color: white; font-size: 26px; font-family: Roboto; font-weight: 600; line-height: 28px; word-wrap: break-word">Excel<br/>Anglais C1<br/>Python<br/></div>
  <div class="Rectangle6" style="width: 268px; height: 383px; left: 114px; top: 851px; position: absolute; background: #979797; border-radius: 21px"></div>
  <div class="RechercheDEmploi" style="width: 253px; height: 93px; left: 121px; top: 851px; position: absolute; text-align: center; color: white; font-size: 24px; font-family: Roboto; font-weight: 800; line-height: 28px; word-wrap: break-word">Recherche d’emploi</div>
  <div class="ToutesLesRecherches" style="width: 227px; height: 201px; left: 107px; top: 1098px; position: absolute; text-align: center; color: white; font-size: 17px; font-family: Roboto; font-weight: 600; text-decoration: underline; line-height: 28px; word-wrap: break-word">Toutes les recherches</div>
  <div class="Rectangle2" style="width: 784px; height: 834px; left: 453px; top: 416px; position: absolute; border: 3px #BDBDBD solid"></div>
  <div class="RerchercheParCompTence" style="width: 149px; height: 93px; left: 209px; top: 1071px; position: absolute; color: white; font-size: 19px; font-family: Roboto; font-weight: 800; line-height: 18px; word-wrap: break-word">Rercherche par compétence</div>
  <div class="OffresDEmploiRCentes" style="width: 545px; height: 62px; left: 531px; top: 452px; position: absolute; text-align: justify; color: #195E68; font-size: 30px; font-family: Roboto; font-weight: 800; text-decoration: underline; line-height: 40px; word-wrap: break-word">Offres d’emploi récentes:</div>
  <img class="CaptureDECran20231022A17481" style="width: 628px; height: 660px; left: 531px; top: 518px; position: absolute" src="https://via.placeholder.com/628x660" />
  <div class="AfficherToutesLesOffresDEmploi" style="width: 341px; height: 49px; left: 854px; top: 1178px; position: absolute; text-align: justify; color: black; font-size: 20px; font-family: Roboto; font-weight: 600; text-decoration: underline; line-height: 40px; word-wrap: break-word">Afficher toutes les offres d’emploi</div>
  <img class="CaptureDECran20231022A18001" style="width: 221px; height: 40px; left: 137px; top: 944px; position: absolute" src="https://via.placeholder.com/221x40" />
  <div class="RerchercheParDomaine" style="width: 149px; height: 93px; left: 209px; top: 990px; position: absolute; color: white; font-size: 19px; font-family: Roboto; font-weight: 800; line-height: 18px; word-wrap: break-word">Rercherche par domaine </div>
  <div class="IconSchool" style="width: 57px; height: 51.45px; left: 140px; top: 1006px; position: absolute">
    <div class="Vector" style="width: 36.64px; height: 23.42px; left: 10.18px; top: 28.03px; position: absolute; background: white"></div>
    <div class="Vector" style="width: 57px; height: 34.14px; left: 0px; top: 0px; position: absolute; background: white"></div>
  </div>
  <div class="IconBadge" style="height: 70.06px; left: 142px; top: 1085px; position: absolute">
    <div class="Vector" style="width: 32.10px; height: 16.35px; left: 10.45px; top: 53.71px; position: absolute; background: white"></div>
    <div class="Vector" style="width: 53px; height: 53px; left: 0px; top: 0px; position: absolute; background: white"></div>
  </div>
  <div class="Line2" style="width: 70.01px; height: 0px; left: 459px; top: 63px; position: absolute; border: 2px white solid"></div>
  <img class="ImageonlineCoPiechart21" style="width: 739px; height: 677px; left: 302px; top: 1462px; position: absolute" src="https://via.placeholder.com/739x677" />
  <div class="GraphesDesDemandesLinguistiques" style="width: 784px; height: 62px; left: 121px; top: 1350px; position: absolute; text-align: justify; color: #195E68; font-size: 45px; font-family: Roboto; font-weight: 800; line-height: 40px; word-wrap: break-word">Graphes des demandes linguistiques:</div>
  <div class="VoirePlus" style="width: 156px; height: 31px; left: 150px; top: 731px; position: absolute; color: white; font-size: 19px; font-family: Roboto; font-weight: 600; text-decoration: underline; line-height: 28px; word-wrap: break-word">Voire plus</div>
</div>
</body>
</html>